.container {
  display: flex;
  gap: 2rem;
}
.ratingPrice {
  align-items: center;
  font-size: xx-large;
  gap: 3rem;
}
.ratingPrice p {
  margin: 0;
}
.largeImg{
  --img-size: 30rem;
  object-fit: contain;
  padding: 5rem 1rem 5rem 3rem;
  min-width: var(--img-size);
  max-width: var(--img-size);
  min-height: var(--img-size);
  max-height: var(--img-size);
}