.container {
  padding: 2rem;
}
.container * {
  font-size: large;
}

.horizontalContainer {
  display: flex;
}

.rating * {
  margin: 0;
  font-size: xx-large;
}
.rating:hover{
  cursor: pointer;
  user-select: none;
}