.main {
  display: flex;
}

.content {
  padding: 1rem;
  width: 100%;
  display: grid;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(22rem, 2fr));
}
