.container {
  color: black;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 1rem;
  padding: 1rem;
  height: 31rem;
  box-shadow: 5px 5px 5px 5px rgb(229, 229, 229);
}
.container .productImg {
  --img-size: 20rem;
  object-fit: contain;
  min-width: var(--img-size);
  max-width: var(--img-size);
  min-height: var(--img-size);
  max-height: var(--img-size);
  border-radius: 1rem;
  padding: 0.5rem;
}
.container .title:hover {
  text-decoration: underline;
  cursor: pointer;
}
.container .productImg:hover {
  cursor: pointer;
  filter: brightness(0.7);
  background: rgb(251, 251, 251);
}
.container p {
  margin-block: 0.5rem;
}
.addRemoveBtn {
  display: flex;
  justify-content: center;
}

.horizontalContainer {
  display: flex;
  gap: 0.5rem;
  justify-content: space-between;
}
.rating {
  font-size: x-large;
  padding: 0;
}
.stars {
  stroke: black;
  stroke-width: 1px;
}

.priceTag {
  font-size: xx-large;
}
