.horizontalContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3vw;
}

.container {
  height: fit-content;
  width: fit-content;
  white-space: nowrap;
  font-size: x-large;
  align-items: center;
  border-radius: 1rem;
  padding: 0.5rem 2rem 1.5rem;
  margin: 2rem;
  box-shadow: 5px 10px 10px 5px rgb(241, 218, 247);
  animation: boxShadowAnimation 10s infinite;
}
.container p {
  margin-block: 1rem;
}
.container h2 {
  background: linear-gradient(
    -45deg,
    cyan,
    rgb(230, 129, 250),
    rgb(80, 240, 255)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 300% 300%;
  animation: gradientAnimation 10s infinite;
}
.container hr {
  height: 2px;
  border: none;
  background: linear-gradient(
    -45deg,
    cyan,
    rgb(230, 129, 250),
    rgb(80, 240, 255)
  );
  background-size: 300% 300%;
  animation: gradientAnimation 10s infinite;
}
.button {
  color: white;
  background: linear-gradient(
    -45deg,
    cyan,
    rgb(230, 129, 250),
    rgb(80, 240, 255)
  );
  width: 100%;
  border: none;
  font-size: inherit;
  font-weight: bold;
  padding-block: 1rem;
  border-radius: 1rem;
  background-size: 300% 300%;
  animation: gradientAnimation 10s infinite;
  transition: transform 0.2s ease-in-out;
}

.button:hover {
  transform: scale(1.05);
}

@keyframes boxShadowAnimation {
  0% {
    box-shadow: 5px 5px 5px 5px rgb(195, 238, 255);
  }
  50% {
    box-shadow: 5px 10px 10px 5px rgb(241, 218, 247);
  }
  75% {
    box-shadow: 5px 5px 5px 5px rgb(237, 212, 255);
  }
  100% {
    box-shadow: 5px 5px 5px 5px rgb(195, 238, 255);
  }
}
@keyframes gradientAnimation {
  0% {
    background-position: 0% 25%;
  }
  50% {
    background-position: 25% 50%;
  }
  100% {
    background-position: 0% 25%;
  }
}
