.title {
  background: black;
  padding-inline: 2vw;
}

.gradientBackground {
  background: linear-gradient(
    -70deg,
    #ff83ee,
    rgb(255, 131, 238),
    rgb(20, 235, 255),
    rgb(255, 65, 163)
  );
  background-size: 300% 300%;
  animation: gradientAnimation 15s infinite;
}
.container {
  display: flex;
  align-items: center;
  font-size: large;
  justify-content: space-between;
  gap: 2rem;
  color: white;
}
.container a {
  color: inherit;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}
.searchIcon {
  max-width: 5vh;
  padding: 0;
  margin: 0;
}

.sticky {
  z-index: 2;
  position: fixed;
  width: 100%;
  top: 0;
  align-self: flex-start;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 25%;
  }
  50% {
    background-position: 25% 50%;
  }
  100% {
    background-position: 0% 25%;
  }
}
